{% extends 'base.html' %}

{% block content %}
    {% comment %} Padding untuk header {% endcomment %}
    <style>
        body {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    </style>

    {% comment %} Navigation Bar {% endcomment %}
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a href="" class="navbar-brand mb-0 h1"> <i class="bi bi-cone-striped"></i> DepoAMC </a>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    {% comment %} Tombol Add Item {% endcomment %}
                    <a type="button" href="{% url 'main:create_item' %}" class="btn btn-outline-light btn-sm" style="margin-right: 10px;">
                        <i class="bi bi-bag-plus"></i>
                    </a>

                    {% comment %} Tombol Logout {% endcomment %}
                    <a type="button" href="{% url 'main:logout' %}" class="btn btn-outline-light btn-sm">
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <center>
            <h3> Selamat datang, </h3>
            <h1 style="font-weight: bold;"> {{ name }}!</h1>
            <h3> di DepoAMC </h3>
            <pre> "Material Berkualitas, Kepuasan Terjamin." </pre>
            <p style="color: darkgray;"> Sesi terakhir login: {{ last_login }} </p>
        </center>
    
        <hr>
        <hr>

        <center>
            <p> Terdapat <b> {{ items.count }} material atau bahan </b> yang Anda tambahkan. </p>
        </center>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in items %}
                <div class="col">
                    <div class="card h-100 {% if forloop.last %}text-bg-info{% endif %}">
                        <div class="card-header" style="display: flex;">
                            <h5 style="flex-grow: 1;"> {{item.name}} {% if forloop.last %}(Terbaru!){% endif %} </h5>
                            <a class="btn btn-sm" type="button" href="{% url 'main:remove_all_amount' item.pk %}"> <i class="bi bi-trash"></i> </a>
                            <a class="btn btn-sm" type="button" href="{% url 'main:edit_item' item.pk %}"> <i class="bi bi-pen"></i> </a>
                        </div>
                        
                        <div class="card-body">
                            <p class="card-text">{{item.description}}</p>
                        </div>

                        <div class="card-footer" style="display: flex; justify-content: space-evenly; align-items: center; text-align: center;">
                            <a class="btn btn-sm" type="button" href="{% url 'main:remove_amount' item.pk %}"> <i class="bi bi-dash-lg"></i> </a>
                            <h6> {{item.amount}} </h6>
                            <a class="btn btn-sm" type="button" href="{% url 'main:add_amount' item.pk %}"> <i class="bi bi-plus-lg"></i> </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}