{% extends 'base.html' %}

{% block content %}
    <center>
        <h1>depoAMC</h1>
        <img src="https://tr.rbxcdn.com/80fe87c42012957cd6e2c9dd75de797d/420/420/Face/Png" style="width:128px;height:128px;">
        <pre> "Material Berkualitas, Kepuasan Terjamin." </pre>
    </center>

    <hr>
    <hr>

    <p><b>Nama: </b>{{ name }}</p>
    <p><b>Kelas: </b>{{ class }}</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
        
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>
{% endblock content %}